.container {
  max-width: 1200px;
  padding: 0;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
          to right,
          var(--austrakka-secondary-variation),
          color-mix(in srgb, var(--austrakka-secondary-variation) 40%, transparent),
          color-mix(in srgb, var(--austrakka-secondary-variation) 0%, transparent)
  );
}

h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
}